# APP
APP_TYPE=DEVELOPMENT

# DATABASE
DATABASE_HOST=
DATABASE_NAME=
DATABASE_USER=
DATABASE_PASS=
DATABASE_PORT=

# AI [deepseek/openai/gemini]
AI_PROVIDER=gemini
AI_MODEL=gemini-2.5-flash
GEMINI_API_KEY=varsa_gemini_key
DEEPSEEK_API_KEY=varsa_deepseek_key
OPENAI_API_KEY=varsa_openai_key

# Google [OAuth]
CLIENT_ID=
CLIENT_SECRET=